﻿@model Escripto;

@{
    ViewData["Title"] = "SQL Escripto";
}

<div class="row">
    <div class="col-12">
        <h1 style="text-align: center;">Criador de Scripts Insert para SQL</h1>
        <hr/>
    </div>
</div>

<div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="tabela">Tabela:</label>
                <input type="text" class="form-control" id="tabela">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="numrows">Numero de Linhas:</label>
                <input type="number" class="form-control" id="numrows">
            </div>
        </div>
</div>

<h3 style="text-align: center;">Campos</h3>
<hr/>

<div class="row">
    <div class="col-md-6">
        <table class="table" id="Fields">
            <thead>
                <th>Nome da Coluna</th>
                <th>Tipo</th>
                <th>Tamanho</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <form method="POST" asp-action="AdicionarCampo">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nomeCampo">Nome do Campo:</label>
                <input type="text" id="nomeCampo" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="tipoCampo">Tipo de Campo:</label>
                <select class="form-control" id="tipoCampo">
                    <option>Varchar</option>
                    <option>Int</option>
                    <option>Char</option>
                    <option>Date</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tamanhoCampo">Tamanho do Campo:</label>
                <input type="number" id="tamanhoCampo" class="form-control">
            </div>
            <button class="btn btn-default centered-div" id="btnAdicionarCampo">Adicionar Campo</button>
        </div>
    </form>
</div>
<br/>